
#tab {
    margin-top: 5%;
}

#tab button {
    background-color: rgb(255,2,107);
    margin: 0px;
    color: white;
    padding: 0.5rem 1rem;
    font-size: medium;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0%;

}



#tab img {
    width: 35%;
    height: 30%;
    border-radius: 3%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border: 0.2rem solid rgb(0,10,121);
}


#tab menu {
    margin: 1rem 0;
    margin-left: 11.7%;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    gap: 0.2rem;
}

#tab p {
    margin-top:1% ;
    margin-right: 10%;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    font-size: 1.2rem;

}

.content {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(41, 152, 227,0.25);
    padding-right: 5%;
    padding-left: 5%;
    
}

.para{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#tab menu button.active {
    color: rgb(255, 2, 107);
    background-color: white;
    border: 3px solid  rgba(41, 47, 227, 0.90);
}

h3{
    color: rgb(255, 2, 107);
    font-size: 1.3rem;
}